.p-dropdown {
    width: 100% !important;
}
.p-paginator {
  justify-content: end !important;
}
.sidebar .p-sidebar-left {
    box-shadow: 0px 2px 20px rgb(1 41 112 / 10%);
}
.p-datatable .p-datatable-header {
  background: none !important;
  border:none !important;
  padding-right: 0px !important;
}